.cart{
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}
.cart h4{
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
}
.cart h6{
    font-size: 17px;
}
.btn-clear-cart{
    margin: 10px auto;
    width: 100%;
    display: flex;
    background: #FF3030;
    border-radius: 4px;
    color: white;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
}