.review-item{
    width: 571px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px;
    align-items: center;
    display: flex;
}
.review-item img{
    width: 91px;
    height: 91px;
    border-radius: 6px;
}
.review-details{
    flex-grow: 1;
}
.product-name{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}
.review-details p{
    margin: 0 15px;
}
.orange-text{
    color: orangered;
}
.btn-delete{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 87, 0, 0.3);
}
.delete-icon{
    color: #EB5757;
    font-size: 25px;
}